Makefile*
autom4te.cache/
config.h
config.log
config.status
config.*
configure
aclocal.m4
ar-lib
missing
stamp-h1
src/.deps/
src/.libs/
src/Makefile*
src/*.la
src/*.a
src/*.o
src/*.lo
src/standalone
build-aux
*libtool
compile
depcomp
install-sh
ltmain.sh

